<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="body">
{{> header }}
<div class="main">
    <div class="main__content-container">
        <div class="main__content">
            <h2>{{t 'VERIFY_EMAIL_TITLE'}}</h2>
            <p>
                {{t 'VERIFY_EMAIL_TEXT'}}
            </p>
            <a class="button" href="{{ url }}" style="cursor: pointer;">{{t 'VERIFY_EMAIL_BUTTON'}}</a>
        </div>
    </div>
</div>
{{> footer }}
</body>
</html>
