<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body class="body">
        {{> header }}
        <div class="main">
            <div class="main__content-container">
                <div class="main__content">
                    <h2>{{t 'RESET_PASSWORD_TITLE'}}</h2>
                    <p>
                        {{t 'RESET_PASSWORD_TEXT'}}
                    </p>
                    <a class="button" href="{{ url }}" style="cursor: pointer;">{{t 'RESET_PASSWORD_BUTTON'}}</a>
                </div>
            </div>
        </div>
        {{> footer }}
    </body>
</html>
